.contenedor {
    width: 300px;
    height: 100px;
    background-color: aquamarine;
}
div {
    background-color: yellowgreen;
}
span.frase {
    font-style: italic;
}
span.frase::before{
    content: '<<';
    font-size: xx-small;
}
span.frase::after {
    content: '>>';
    font-size: xx-small;
}
.libro {
    width: 300px;
    height: 100px;
    background-color: bisque;
}
.libro p::first-letter{/*first-line `para la primera linea*/
  font-size: xx-large;
}
.libro p::selection{/*Cuando seleccionamos texto se muestra con la siguientes características*/
    background-color: chocolate;
    color: lime;
}
.lista ul li::marker{
    color: red;
}
